body {
  color: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

main {
  position: relative;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  background: #fff;
  background-image: url(assets/your-verse.jpg);
  background-position: 65% 100%;
  height: 590px;
  background-repeat: no-repeat;
  background-size: 1440px 1315px;
}

.textmargin {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 970px;
}

.maintext {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
}

.maintext h2 {
  font-size: 60px;
  font-weight: lighter;
}

.maintext p {
  font-size: 24px;
  margin-top: -30px;
}

.titleanchor:hover {
  text-decoration: underline;
}

.titleanchor {
  text-decoration: none;
  color: #fff;
}

.nav-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 90px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  border: solid 1px darkslategrey;
  width: 75%;
  background-image: linear-gradient();
}

.nav-item {
  box-sizing: border-box;
  width: 105.633px;
  height: 36px;
  border-right: solid 1px darkslategrey;
  background: gray;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item p {
  text-align: center;
}

.nav-item i {
  margin: 10px auto;
  font-size: 23px;
}

.nav-search {
  width: 125px;
  height: 36px;
}

.search-form {
  width: 103px;
  height: 20%;
  margin: 2px auto;
  border-radius: 10px;
  background: gray;
}

.fa-search {
  display: flex;
  align-self: center;
}

.input-cont i {
  position: absolute;
  margin-left: 7px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 13px;
}

.belowpics {
}

.grid-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
    "one-img one-img one-img one-img";
  grid-gap: 2px;
}

.one-img {
  width: 100%;
}

.footText {
  color: black;
  width: 75%;
  color: #6e6e6e;
  line-height: 1.2;
  font: 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  margin: 20px auto;
  letter-spacing: 0.0005px;
}

.p-width {
  width: 50%;
}

.links-right {
  float: right;
  display: flex;
  margin-top: -48px;
}

.links-right li {
  list-style-type: none;
}

.footText a {
  text-decoration: none;
  color: #08c;
}
